---
---

@import "{{ site.theme }}";

header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rgba(2,56,177,255);

}

header a.button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rgba(184,213,226,255)

}

aside a.button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rgba(2,172,213,255)

}

#main-content h2:before {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(184,213,226,255)

}

#main-content h1:before {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(184,213,226,255)

}

#main-content h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(184,213,226,255)

  }

  #main-content h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(184,213,226,255)

  }

  #main-content h6 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(184,213,226,255)

  }