---
---

@import "{{ site.theme }}";

header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: darkslategray;

}

header a.button {

    background: lightslategray

}

aside a.button {

    background: lightslategray

}

#main-content h2:before {

    color: white;

}

#main-content h1:before {

    color: white;

}

#main-content h3 {

    color: white;

  }

  #main-content h4 {

    color: white;

  }

  #main-content h6 {

    color: white;

  }