---
---

@import "{{ site.theme }}";

header {

    background: black;

}

header a.button {

    background: lightskyblue

}

aside a.button {

    background: darkslategray

}

#main-content h2:before {

    color: lightcyan;

}

#main-content h1:before {

    color: lightcyan;

}

#main-content h3 {

    color: lightcyan;

  }

  #main-content h4 {

    color: lightcyan;

  }

  #main-content h6 {

    color: lightcyan;

  }